*{
margin:0;

box-sizing:border-box;
}

.core-values-section{

display:grid;
grid-template-columns:40% 60%;

padding: 120px;



overflow:hidden;

background:#fff;
}

/* LEFT */

.core-values-left{

position:relative;

min-height:620px;
}

.core-values-image{

width:100%;

height:100%;

display:block;

object-fit:cover;
}

.core-values-overlay{

position:absolute;

inset:0;

background:linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.25));
}

.core-values-content{

position:absolute;

top:60px;

left:45px;

z-index:2;

width:75%;

color:#fff;
}

.core-values-smalltitle{

font-size:18px;

letter-spacing:2px;

font-weight:700;

display:block;

margin-bottom:15px;
}

.core-values-title{

font-size:45px;
font-family: poppins;
font-weight:600;

line-height:1.1;
}
.core-values-highlight{
    color:#122560;   /* Your desired color */
    font-weight:700;
}
.core-values-title strong{

font-weight:700;
}

.core-values-description{

margin-top:18px;
font-weight: 400;
font-size:18px;
font-family: sans-serif;
line-height:1.8;
}

.core-values-slider{

position:absolute;

bottom:35px;

left:45px;

display:flex;

gap:8px;

z-index:2;
}

.core-values-slider span{

width:10px;

height:10px;

border-radius:50%;

background:#fff;

opacity:.4;
}

.core-values-slider span.active{

opacity:1;
}

/* RIGHT */

.core-values-right{

background:#1e2f78;

padding:70px;

display:flex;

flex-direction:column;

justify-content:center;
}

.core-values-item{

border-top:1px solid rgba(255,168,85,.5);
}

.core-values-item:last-child{

border-bottom:1px solid rgba(255,168,85,.5);
}

.core-values-header{

display:grid;

grid-template-columns:55px 1fr 40px;

align-items:center;

padding:30px 0;

cursor:pointer;
}

.core-values-number{

color:#fff;

font-size:13px;
}

.core-values-heading{

font-size:34px;

font-weight:500;

color:#fff;
}

.core-values-btn{

width:28px;

height:28px;

border-radius:50%;

border:1px solid #ff9d48;

background:none;

color:#ff9d48;

font-size:18px;

cursor:pointer;

transition:.35s;
}

.core-values-item.active .core-values-btn{

background:#ff9d48;

color:#fff;
}

.core-values-body{

max-height:0;

overflow:hidden;

padding-left:55px;

color:#fff;

font-size:15px;

line-height:1.9;

transition:.35s;
}

.core-values-item.active .core-values-body{

max-height:250px;

padding-bottom:28px;
}

/* Responsive */

@media(max-width:991px){

.core-values-section{

grid-template-columns:1fr;
}

.core-values-left{

height:450px;
}

.core-values-right{

padding:40px 25px;
}

.core-values-heading{

font-size:24px;
}

.core-values-title{

font-size:34px;
}

}

@media(max-width:576px){

.core-values-content{

left:25px;

top:30px;

width:85%;
}

.core-values-right{

padding:25px 18px;
}

.core-values-heading{

font-size:20px;
}

.core-values-title{

font-size:28px;
}

.core-values-header{

grid-template-columns:40px 1fr 35px;
}

.core-values-body{

padding-left:40px;
}

}