.industryHeroSection {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.industryHeroSection__image {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.industryHeroSection__overlay {
    position: absolute;
    inset: 0;
    /* background: linear-gradient(
        to top,
        rgba(0,0,0,.65),
        rgba(0,0,0,.15),
        rgba(0,0,0,.25)
    ); */
background: linear-gradient(
    to top,
    rgba(18, 37, 96, 0.65),
    rgba(18, 37, 96, 0.15),
    rgba(18, 37, 96, 0.25)
);
}

.industryHeroSection__container {
    position: relative;
    z-index: 2;
    max-width: 1440px;
    /* margin: auto; */
    height: 100%;
    padding: 0 60px;
}

.industryHeroSection__content {
    position: absolute;
    left:120px;
    right: -195px;
    bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 100px;
}

.industryHeroSection__left {
    flex: 1;
}

.industryHeroSection__left h1 {
    color: #fff;
    font-size: 64px;
    line-height: 1.1;
    font-weight: 700;
}

.industryHeroSection__left span {
    display: block;
    color: #122560;
}

.industryHeroSection__right {
    width: 480px;
}

.industryHeroSection__right p {
    color: #fff;
    font-size: 18px;
    line-height: 1.9;
}

@media(max-width:1200px){

.industryHeroSection__left h1{
    font-size:54px;
}

}

@media(max-width:992px){

.industryHeroSection{
    height:850px;
}

.industryHeroSection__content{
    left:40px;
    right:40px;
    bottom:50px;
    flex-direction:column;
    align-items:flex-start;
    gap:35px;
}

.industryHeroSection__container{
    padding:0 40px;
}

.industryHeroSection__right{
    width:100%;
}

}

@media(max-width:768px){

.industryHeroSection{
    height:700px;
}

.industryHeroSection__container{
    padding:0 25px;
}

.industryHeroSection__content{
    left:25px;
    right:25px;
}

.industryHeroSection__left h1{
    font-size:38px;
}

.industryHeroSection__right p{
    font-size:16px;
}

}